.input-container {
    display: flex;
}
.analyse-input {
    display: flex;
    margin: 30px 30px 30px 0;
    width: 250px;
    height: 30px;
}

.analyse-button {
    display: flex;
    margin: 30px;
    height: 35px;
    padding: 6px 30px;
}