body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}
p {
    font-size: 14px;
}
h6 {
    font-size: 18px;
}
.header-wrap {
    width: 100%;
    display:flex;
    justify-content: space-around;
}
.header {
    max-width: 1200px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
}
.header nav {
    padding: 30px
}
.header nav a {
    font-size: 18px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}